<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    {{!-- To link partials files in hbs files --}}
    {{!-- header is the name of partial file name --}}
    {{>header}} 
    <h1>index Body part</h1>
    <a href="/about">About US</a>
    {{!-- footer is the name of partial file name --}}
    {{>footer}}
</body>
</html>