<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <h2>Name:{{userInfo.name}}</h2>
    <br>
    <h2>Email:{{userInfo.email}}</h2>
    <br>
    <h2>Age:{{userInfo.age}}</h2>
    <br>
    <img src="/uploads/{{imageInfo.imageName}}" alt="image not found">
</body>
</html>